.mar10{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    
    

}
.col-24{
    grid-column: span 24;
   
  
}

.col-20{
    border: 1px solid black;
    grid-column: span 20;
   
   
}
.col-16{

    border: 1px solid black;
    grid-column: span 16;

    
}
.col-12{
    border: 1px solid black;
    grid-column: span 12;
   
   
    
}
.col-8{
    border: 1px solid black;
    grid-column: span 8;
    
    

}
.col-6{
    border: 1px solid black;
    grid-column: span 6;
    
   
  
}
.col-4{
    border: 1px solid black;
    grid-column: span 4;
    
     
   
}
.sub{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
   
   
}
.gap{
gap:10px;
}